:root {
    --primary-color: #1da1f2;
    --btn-bg: #1a91da;
    --default-theme-bg: #e8f5fe;
    --default-theme-color: #000;
    --dark-theme-bg: #000;
    --dark-theme-color: #d9d9d9;
    --dark-theme-primary-bg: rgba(29, 161, 242, 0.1);
    --primary-border-color: rgba(255, 255, 255, 0.2);
  }

  .new-next-btn{
    margin: 0 auto;
    display: block;
  }

.handle-error{
  position: relative;
  color: #e0245e;
}
  .gfhfb{
-webkit-appearance: none;
appearance: none;
  }
  /*----- Theme CSS -----*/
  .default-theme {
    color: var(--default-theme-color);
    background-color: var(--default-theme-bg);
  }
  .dark-theme {
    color: var(--dark-theme-color);
    background-color: var(--dark-theme-bg);
  }
  
.newUserImage{
  background-image: url("https://ton.twitter.com/responsive-web/rweb-welcome-illustration-m6.png");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 500px;
}


  /*----- General CSS -----*/
 main{

  /*- Selction CSS -*/
  ::-moz-selection {
    /* Code for Firefox */
    color: var(--dark-theme-color);
    background: var(--primary-color);
  }
  
  ::selection {
    color: var(--dark-theme-color);
    background: var(--primary-color);
  }
  /*- a -*/
  a {
    text-decoration: none !important;
    display: inline-flex;
    color: var(--dark-theme-color);
    transition: all 0.2s ease-in-out;
  }
  .a-container {
    width: auto;
    cursor: pointer;
  }
  .a {
    width: auto;
    padding: 10px 10px;
    margin: 4px 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .a:hover,
  .a:focus {
    color: var(--primary-color);
    background-color: var(--dark-theme-primary-bg);
  }
  /*- svg & img -*/
  img {
    display: block;
    border-radius: 50%;
  }
  .avatar {
    width: 100%;
    height: 100%;
  }
  svg {
    fill: var(--dark-theme-color);
    display: block;
  }
  .a:hover svg,
  .a:focus svg {
    fill: var(--primary-color);
  }
  /*- btn -*/
  .btn-container {
    width: 100%;
  }
  .btn {
    margin: 8px 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
  }
  .btn svg {
    fill: #fff;
  }
  .btn-span-text {
    display: block;
  }
  .btn-span-icon {
    display: none;
  }
  .btn-large {
    width: 95%;
    height: 49px;
  }
  .btn-small {
    padding: 8px 15px;
  }
  .btn-round {
    padding: 10px 10px;
    border-radius: 50%;
  }
  .btn-solid {
    color: #fff;
    background-color: var(--primary-color);
  }
  .btn-regular {
    color: var(--btn-bg);
    border: solid var(--btn-bg) 1px;
  }
  .btn:hover,
  .btn:focus {
    color: #fff;
    background-color: var(--btn-bg);
  }
  
  /*----- Pre-loader CSS -----*/
  .preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #031019;
    z-index: 99999999;
  }
  .preloader img {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .preloader-hide {
    display: none;
  }
  
  /*----- Container CSS -----*/
  .containerz {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    position: relative;
  }
  
  /*----- Header CSS -----*/
  header {
    width: 27%;
    min-width: 88px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-grow: 1;
    font-size: 19px;
    font-weight: bold;
    position: sticky;
    top: 0;
  }
  .header-container {
    width: 275px;
    height: 100%;
    padding: 0 14px 0 10px;
  }
  .header-img {
    width: 1.64rem;
    height: 1.64rem;
  }
  /*- twitter-logo -*/
  .twitter-logo .header-img {
    width: 1.9rem;
    height: 1.9rem;
  }
  .twitter-logo .a {
    padding: 8px;
    border-radius: 50%;
  }
  .twitter-logo .a:hover {
    background-color: var(--dark-theme-primary-bg);
  }
  .twitter-logo .a:hover svg,
  .twitter-logo .a:focus svg {
    fill: var(--dark-theme-color);
  }
  /*- header-nav -*/
  .header-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .header-nav .a-container {
    width: 100%;
  }
  .header-nav .a {
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
  }
  .header-nav .a-container:hover .a,
  .header-nav .a-container:focus .a {
    color: var(--primary-color);
    background-color: var(--dark-theme-primary-bg);
  }
  .header-nav .a-container:hover svg,
  .header-nav .a-container:focus svg {
    fill: var(--primary-color);
  }
  .header-nav .a span {
    margin: 0 10px 0 20px;
  }
  /*- header-btn -*/
  header .btn-container {
    width: 90%;
  }
  
  /*----- Main CSS -----*/
  main {
    width: 73%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
  }
  .main-container {
    width: 990px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .main-img {
    width: 1.4rem;
    height: 1.4rem;
  }
  main svg {
    fill: var(--primary-color);
  }
  
  /*----- Main-section CSS -----*/
  section {
    width: 600px;
    height: 100%;
    border-left: solid var(--primary-border-color) 1px;
    border-right: solid var(--primary-border-color) 1px;
  }
  /*- section-header -*/
  .section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
    font-weight: bold;
    border-bottom: solid var(--primary-border-color) 1px;
  }
  .home-refresh {
    width: 100%;
    height: 100%;
    padding: 15px;
    cursor: pointer;
  }
  .section-header .a {
    margin: 8px 12px;
  }
  
  /*- tweet-stream -*/
  .tweet-input-container {
    margin-top: 10px;
    padding: 0 15px;
    display: flex;
    justify-content: flex-start;
    border-bottom: solid rgba(255, 255, 255, 0.1) 10px;
  }
  .avatar-container {
    margin-right: 0 5px;
  }
  .tweet-input {
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 5px;
  }
  .input {
    padding: 0 8px;
  }
  .input textarea {
    resize: none;
    width: 100%;
    margin: 12px 0;
    display: block;
    font-size: 19px;
    border: none;
    color: var(--dark-theme-color);
    background-color: var(--dark-theme-bg);
    overflow: hidden;
  }
  .tweet-input-utility {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .utility-left,
  .utility-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .utility-left .a {
    margin: 0;
    padding: 8px 8px;
  }
  .text-counter {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: solid var(--primary-border-color) 2px;
  }
  .separater {
    width: 2px;
    height: 30px;
    margin: 0 10px;
    background-color: var(--primary-border-color);
  }
  .tweet-add .a {
    padding: 4px 4px;
    margin: 0;
    border: solid var(--primary-color) 1px;
  }
  .tweet-add svg {
    width: 1.1rem;
    height: 1.1rem;
  }
  .utility-right .tweet-btn {
    margin-left: 10px;
  }
  
  /*----- Stream-container -----*/
  .stream-container {
    width: 100%;
    height: auto;
  }
  
  /*- Stream -*/
  .stream {
    margin: 0;
    padding: 10px;
    border-bottom: solid var(--primary-border-color) 1px;
  }
  .stream:hover {
    cursor: pointer;
    background-color: #15181c;
  }
  
  /*- Context -*/
  .context-container {
    margin-left: 58px;
    margin-bottom: 3px;
    font-size: 12px;
  }
  .context {
    margin-left: -24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .context svg {
    width: 15px;
    height: 15px;
    margin-right: 8px;
    display: inline-block;
  }
  
  /*- Content -*/
  .content {
    margin-left: 58px;
  }
  
  /*- Stream-header-container -*/
  .stream-header-container {
    display: flex;
    height: 22px;
  }
  .main-avatar {
    float: left;
    position: absolute;
    margin-top: 3px;
    margin-left: -58px;
  }
  .main-avatar-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  .fullname-container {
    margin-right: 5px;
  }
  .user-badge {
    width: 18px;
    height: 18px;
    display: inline-block;
  }
  .userame,
  .time {
    font-weight: 100;
  }
  .userame {
    margin-left: 5px;
  }
  .dot {
    margin: 0 5px;
  }
  .fullname:hover,
  .timestamp:hover {
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: underline;
  }
  
  /*- Tweet-text-container -*/
  .tweet-text-container {
    margin: 3px 0;
  }
  .hashtag {
    color: var(--primary-color);
  }
  .hashtag s {
    text-decoration: none;
  }
  .hashtag:hover span {
    text-decoration: underline;
  }
  
  /*- Stream-media-container -*/
  .stream-media-container {
    width: 100%;
    height: 100%;
    margin-top: 10px;
  }
  .media-img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
  
  /*- stream-footer-container -*/
  .stream-footer-container {
    max-width: 425px;
    margin-top: 10px;
  }
  .stream-footer-container svg {
    width: 18px;
    height: 18px;
    fill: var(--dark-theme-color);
  }
  .tweet-action {
    min-width: 80px;
    margin-right: 10px;
    display: inline-block;
  }
  .tweet-action .a {
    padding: 8px;
  }
  .tweet-action-btn {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .tweet-action-count {
    font-weight: bold;
    font-size: 12px;
  }
  .tweet-action-btn .icon-container {
    font-size: 16px;
  }
  .comments-btn:hover,
  .comments-btn:hover svg {
    color: var(--primary-color);
    fill: var(--primary-color);
  }
  .comments-btn:hover .a {
    background-color: #162632;
  }
  .retweet-btn:hover,
  .retweet-btn:hover svg {
    color: #21c16a;
    fill: #21c16a;
  }
  .retweet-btn:hover .a {
    background-color: #152923;
  }
  .likes-btn:hover,
  .likes-btn:hover svg {
    color: #e0245e;
    fill: #e0245e;
  }
  .likes-btn:hover .a {
    background-color: #2a1a23;
  }
  
  /*----- Main-aside CSS -----*/
  aside {
    width: 350px;
    height: 100%;
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
    position: sticky;
    top: 0;
  }
  .aside-container {
    width: 100%;
    position: sticky;
  }
  /*- Search-container CSS -*/
  .search-container {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    padding: 5px 0;
  }
  .search input {
    width: 100%;
    height: 100%;
    padding: 12px;
    display: block;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    color: var(--dark-theme-color);
    background-color: #202327;
  }
  .search input:focus {
    border: solid var(--primary-color) 1px;
  }
  /*- aside-div-container CSS -*/
  .aside-div-container {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: rgba(61, 65, 69, 0.4);
  }
  .aside-div-container a:hover {
    background-color: rgba(61, 65, 69, 0.1);
  }
  .aside-div {
    width: 100%;
  }
  .aside-head,
  .aside-body a {
    padding: 10px 15px;
    border-bottom: solid var(--primary-border-color) 1px;
  }
  .aside-head {
    font-size: 19px;
    font-weight: bolder;
  }
  .aside-body a {
    display: block;
  }
  .aside-foot {
    font-size: 16px;
    font-weight: normal;
  }
  .aside-foot a {
    padding: 15px 15px;
    display: block;
    color: var(--primary-color);
    border-radius: 0 0 15px 15px;
  }
  .trends-head {
    padding: 0 0 0 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .trends-head .a-container {
    cursor: auto;
  }
  .trends-head .a {
    padding: 10px;
  }
  /*- footer CSS -*/
  .footer {
    width: 100%;
    height: 100%;
    align-self: stretch;
    font-size: 13px;
    font-weight: normal;
  }
  .footer,
  .footer a {
    color: rgba(255, 255, 255, 0.3);
  }
  .footer nav {
    padding: 10px 15px;
  }
  .footer nav a,
  .footer nav div {
    margin: 5px 0;
    padding-right: 10px;
  }
  .footer div {
    display: inline-block;
  }
  .footer svg {
    width: 15px;
    height: 15px;
    fill: rgba(255, 255, 255, 0.3);
  }
  .footer nav a:hover {
    text-decoration: underline;
  }
  
  /*----- Responsive CSS -----*/
  @media only screen and (max-width: 1300px) {
    header {
      width: 275px;
      height: 100%;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .header-container {
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1280px) {
    header {
      width: auto;
      height: 100%;
      justify-content: flex-end;
    }
    main {
      width: 80%;
      height: 100%;
    }
    .header-container {
      width: 88px;
      height: 100%;
      margin: 0;
    }
    header .a span {
      display: none;
    }
    .btn-span-text {
      display: none;
    }
    .btn-span-icon {
      display: block;
    }
    header .btn {
      width: auto;
      padding: 14px 12px;
      border-radius: 50%;
    }
  }
  @media only screen and (max-width: 1125px) {
    aside {
      width: 290px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1055px) {
    header {
      width: calc(100% - 20%);
      flex-grow: 1;
    }
    main {
      width: 80%;
      flex-grow: 1;
    }
    section {
      width: 600px;
    }
    .tweet-stream-container {
      display: none;
    }
    aside {
      display: none;
    }
  }
  @media only screen and (max-width: 755px) {
    .main-container {
      width: 100%;
    }
  }
  
 }