.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .styles_overlay__CLSq-{
      background-color: rgba(110, 118, 125, 0.3) !important;
      padding-top: 35px !important;
  }

.ogibib{
    font-weight: 700 !important;
}

  .styles_modal__gNwvD{
    background: rgb(21, 32, 43) !important;
    color: white;
    width: 600px !important;
    height: 780px;
    border-radius: 14px;
    padding: 30px;
    padding-top: 8px;
    margin-top: 70px;
  }

$logocolor: #5EA9DD;
$bkgcolor: #323332;
$speed: 1s;
$minstroke: 1px;
$maxstroke: 4px;
$fillopacity0: 0.15;
$fillopacity1: 0.5;
$size: 200px;
  
  .Signup svg {
    width: $size;
    height: $size;
    stroke-width: 2;
    fill: $logocolor;
    stroke: $logocolor;
    stroke-width: 1px;
    animation: tweetloading $speed linear infinite;
  }
  
  @keyframes tweetloading {
    0% {
      stroke-dashoffset: 1200;
      fill-opacity: $fillopacity0;
      stroke-width: $minstroke;
    }
  
    50% {
      fill-opacity: $fillopacity1;
      stroke-width: $maxstroke;
    }
  
    100% {
      stroke-dashoffset: -1000;
      fill-opacity: $fillopacity0;
      stroke-width: $minstroke;
    }
  }


.r-1w50u8q {
    padding-bottom: 10px;
    padding-top: 10px;
}

.r-mk0yit {
    padding-left: 0px;
    padding-right: 0px;
}

.klnskjda{
height: 40px !important;
margin-bottom: 0px;
}


.styles_closeButton__20ID4{
    display: none;
}

.tsm{
    height: 50px;
}

.nlp{
    color: rgb(224, 36, 94) !important;
}

.tsm svg{
    height: 30px;
    fill: aliceblue;
    text-align: center;
    margin-left: 240px;
    margin-right: 205px;

}

.email-error-signup{
 position: relative;
top: 40px;
color: rgb(224, 36, 94);
}


.name-error-signup{
position: relative;
 top: 15px;
 color: rgb(224, 36, 94);
 }

.asap-riv{
height: 50px !important;
border-top: none !important;
border-left: none !important;
border-right: none !important;
border-bottom-left-radius: none !important;
border-bottom-right-radius: none !important;
}

.asap-riv:focus{
box-shadow: none !important;
border: none;
border-bottom: 2px solid red ;
}

.r-wgabs5 {
    border-bottom-width: 2px;
}

.r-1uaug3w {
    background-color: rgb(25, 39, 52);
}

.r-rull8r {
    border-bottom-style: solid;
}

.r-1778zho {
    border-bottom-color: rgb(136, 153, 166);
    border-left-color: rgb(136, 153, 166);
    border-right-color: rgb(136, 153, 166);
    border-top-color: rgb(136, 153, 166);
}

.r-1jkafct {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}