.App {
  font-family: 'Montserrat', sans-serif;
}

html,body{
 
  height:100vh;

}


#root{
  min-height: 100%;
}


.stream-container:hover{
background-color: rgb(245,248,250) !important;
transition-duration: 0.2s;
}