.App {
  font-family: 'Montserrat', sans-serif;
}

html,body{
 
  height:100vh;

}


#root{
  min-height: 100%;
}


.stream-container:hover{
background-color: rgb(245,248,250) !important;
transition-duration: 0.2s;
}

.Verified-account{
  fill: rgb(29, 161, 242);
}

.dsdesdae:hover{
  border-radius: none !important;
}