.like-tweet-comment{
    width : 100%;
}



.dsdses svg{
    height: 1.5em;
    flex-shrink: 0;
    color: rgba(29,161,242,1.00);
    position: relative;
    max-width: 100%;
    display: inline-block;
    font-weight: bold;
    
}

.dsdses a{
    vertical-align: top;
}